<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>服务管理</title>
    <link rel="SHORTCUT ICON" href="../../static/images/resizeApi.png">
    <link rel="BOOKMARK" href="../../static/images/resizeApi.png">
    <link rel="stylesheet" type="text/css"
          href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/head.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/list_main.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/modal.css">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap-admin-theme.css">

    <script type="text/javascript" src="../../static/script/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/script/admin/student.js" charset="utf-8"></script>
    <script th:src="@{/static/script/base.js}" src="../../static/script/base.js" charset="UTF-8"></script>
    <script src="../../static/script/time.js" charset="UTF-8"></script>
    <script src="../../static/script/tips.js" charset="UTF-8"></script>
    <style>
        .black_overlay{
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index:1001;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=88);
        }
        .white_content {
            display: none;
            position: absolute;
            top: 12%;
            left: 20%;
            width: 65%;
            height: 83%;
            padding: 20px;
            border: 10px solid orange;
            background-color: white;
            z-index:1002;
            overflow: auto;
        }
    </style>
</head>
<body>

<div xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <nav class="navbar navbar-inverse navbar-fixed-top bootstrap-admin-navbar
    bootstrap-admin-navbar-under-small"
         role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="collapse navbar-collapse main-navbar-collapse">
                        <a class="navbar-brand" href="#">
                            <strong>欢迎使用南京公共服务管理平台</strong>
                            <span style="font-size: 8px" id="cur_time"></span>
                        </a>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <!--                                    <a type="button" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">-->
                                <i class="glyphicon glyphicon-user"></i>
                            <li>欢迎您，<span id="showCookiea"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-2 bootstrap-admin-col-left"
             xmlns:th="http://www.thymeleaf.org" th:fragment="left">
            <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
                <li th:class="${function eq 1?'active' :''}" class="active" >
                    <a th:href="@{/admin/index}" href="../../admin/index?function=1">
                        <i class="glyphicon glyphicon-chevron-right"></i> 主页
                    </a>
                </li>
                <li th:class="${function eq 2?'active' :''}" class="active">
                    <a th:href="@{/service-total} " href="../../service-total?function=2">
                        <i class="glyphicon glyphicon-chevron-right"></i> 服务大全
                    </a>
                </li >
                <li th:class="${function eq 3?'active' :''}">
                    <a th:href="@{/service-management}" href="../../service-management?function=3">
                        <i class="glyphicon glyphicon-chevron-right"></i> 服务管理
                    </a>
                </li>
                <li th:class="${function eq 4?'active' :''}">
                    <a th:href="@{/notice}" href="../../notice">
                        <i class="glyphicon glyphicon-chevron-right"></i> 公告管理
                    </a>
                </li>
                <li th:class="${function eq 5?'active' :''}">
                    <a th:href="@{/user}" href="../../admin/user">
                        <i class="glyphicon glyphicon-chevron-right"></i> 用户管理
                    </a>
                </li>
                <li th:class="${function eq 6?'active' :''}">
                    <a th:href="@{/message_list}" href="../../message_list">
                        <i class="glyphicon glyphicon-chevron-right"></i> 文件管理
                    </a>
                </li>
                <li>
                    <a href="../../">
                        <i class="glyphicon glyphicon-chevron-right"></i> 关于我们
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-10">
            <div class="row">

                <button style="float: right;margin-bottom: 10px" class="btn btn-xs" onclick="openDialog()">添加</button>
                <div class="panel panel-default bootstrap-admin-no-table-panel" >
                    <div class="panel-heading" >
                        请选择服务类别:<select style="width: 100px" id="myselect" onchange="change()">
                            <option th:each="item : ${serList}" th:value="${item.id}" th:selected="${item.id}">[[${item.name}]]</option>
                            </select>
                        <button class="text-muted bootstrap-admin-box-title" style="font-size: 15px;width: 60px;margin-left: 20px;margin-bottom: 20px" onclick="findListBySerId()">查询</button>
                        <div style="float: right" th:if="${serName} ne null">
                            当前服务类:[[${serName.getName()}]]
                        </div>
                        <input th:if="${serName} ne null" type="hidden" id="inpValue" th:value="${serName.getId()}">
                        <div class="text-muted bootstrap-admin-box-title">
                            <table class="table table-hover table-bordered" th:fragment="statList" id="article_list" th:switch="${articles ne null and articles.size() gt 0}">
                                <thead >
                                <tr >
                                    <th style="text-align: center" width="5%">id</th>
                                    <th style="text-align: center" width="20%">文章标题</th>
                                    <th style="text-align: center" width="20%">创建时间</th>
                                    <th style="text-align: center" width="15%">作者</th>
                                    <th style="text-align: center" width="20%">文章状态</th>
                                    <th style="text-align: center" width="20%">操作</th>
                                </tr>
                                </thead>
                                <thead>
                                <tbody th:case="true">
                                <tr th:each="item : ${articles}">
                                    <th style="text-align: center" th:text="${item.id}"><a href="#">11</a></th>
                                    <th style="text-align: center" th:text="${item.articleName}"><a href="#">11</a></th>
                                    <th style="text-align: center" th:text="${item.createTime}">22</th>
                                    <th style="text-align: center" th:text="${item.authorName}">22</th>
                                    <th th:if="${item.state} eq 'CLOSE'"  style="text-align: center" >未发布</th>
                                    <th th:if="${item.state} eq 'OPEN'"  style="text-align: center" >已发布</th>
                                    <th style="text-align: center">
                                        <button th:if="${item.state} eq 'CLOSE'" class="btn btn-primary btn-xs" onclick="openDialog1(this);">编辑</button>
                                        <button th:if="${item.state} eq 'CLOSE'" class="btn btn-info btn-xs" onclick="openGrade(this);">发布</button>
                                        <button th:if="${item.state} eq 'OPEN'" class="btn btn-info btn-xs" onclick="openGrade(this);">下架</button>
                                        <button class="btn btn-danger btn-xs" onclick="deleteGrade(this);">删除</button>
                                    </th>
                                </tr>
                                </tbody>
                                <tbody th:case="false">
                                <tr>
                                    <td>暂无数据</td>
                                    <td>暂无数据</td>
                                    <td>暂无数据</td>
                                    <td>暂无数据</td>
                                    <td>暂无数据</td>
                                    <th>
                                        <button class="btn btn-danger btn-xs" onclick="deleteGrade(this);">删除</button>
                                    </th>
                                </tr>
                                </tbody>
                                </thead>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--添加模态框-->
<div id="light" style="" class="white_content">
    <div class="panel-heading">
        请选择服务类别:<select style="width: 120px" id="mySelec" onchange="change()">

        <option th:each="item : ${listSelect}" th:value="${item.id}" th:selected="${item.id}">[[${item.name}]]</option>
    </select>
    </div>
    <div class="panel-heading">
        请输入文章标题: <span><input id="articleName" class="form-control" type="text" name="service" style="width: 150px;display: inline-block;align-content: center"></span>
    </div>
    <div class="panel-heading" style="display: flex">
        请输入文章内容:
        <textarea style="width: 800px;height: 400px" id="articleContent"></textarea>
    </div>
<!--    uplo_file-->
    <div class="panel-heading" >
        请输入作者姓名: <span><input id="authorName" class="form-control" type="text" name="service" style="width: 150px;display: inline-block;align-content: center"></span>
    </div>
    <div class="panel-heading">
    <form th:action="@{/uplo_file}"id="myform" method="post" enctype="multipart/form-data">
            <input type="hidden" name="articleId" id="article_id">
        <span style="display: flex">
        请上传模板文件:<span><input type="file" name="file" id="inputid"></span>
            <div style="display: none">
            <input type="submit" value="上传" class="btn btn-success" id="upl">
            </div>
        </span>
        </form>
    </div>
    <div class="panel-heading" style="display: flex;justify-content: center;align-content: center">
        <button class="form-item" onclick="add_article()" type="submit" style="font-size: 20px">添加</button>
    </div>
    <a href = "javascript:void(0)" onclick = "closeDialog()">点这里关闭本窗口</a>
</div>
<div id="fade" class="black_overlay"></div>


<!--编辑模态框-->
<div id="light1" style="" class="white_content">
    <input type="hidden" id="upinp">
    <div class="panel-heading">
        请输入文章标题: <span><input id="articleName1" class="form-control" type="text" name="service" style="width: 150px;display: inline-block;align-content: center"></span>
    </div>
    <div class="panel-heading" style="display: flex">
        请输入文章内容:
        <textarea style="width: 800px;height: 400px" id="articleContent1"></textarea>
    </div>
    <div class="panel-heading" >
        请输入作者姓名: <span><input id="authorName1" class="form-control" type="text" name="service" style="width: 150px;display: inline-block;align-content: center"></span>
    </div>
    <div class="panel-heading" style="display: flex;justify-content: center;align-content: center">
        <button class="form-item" onclick="update_article()" type="submit" style="font-size: 20px">保存</button>
    </div>
    <a href = "javascript:void(0)" onclick = "closeDialog1()">点这里关闭本窗口</a>
</div>
<div id="fade1" class="black_overlay"></div>
</body>
<script type="text/javascript">
    $.get("/service-list","",function (res) {
    })
    var nn = document.cookie.split(";")
    var ele = window.document.getElementById("showCookiea")
    ele.innerHTML = nn[0].split("=")[1]

    function add_article(){
        var articleName = document.getElementById("articleName").value
        console.log(articleName)
        var articleContent = document.getElementById("articleContent").value
        var authorName = document.getElementById("authorName").value
        console.log(authorName)
        var serviceId = myselect.options[document.getElementById("mySelec").selectedIndex].value;
        console.log(serviceId)
        var addArticleData ={} ;
        addArticleData.serviceId = serviceId;
        addArticleData.articleName = articleName;
        addArticleData.articleContent = articleContent;
        addArticleData.authorName = authorName;
        var formData = new FormData();
        var inputfile= $('#inputid')[0].files[0];
        formData.append("inputfile",inputfile);
        console.log(addArticleData)
        $.ajax({
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            url: "/add_article",
            data: JSON.stringify(addArticleData),
            dataType: 'json',
            success: function(res) {
                console.log(res)
                var ar_id = document.getElementById("article_id")
                ar_id.value = res
                $("#upl").trigger("click");

                document.getElementById("myform").reset();
                Tips.showError("添加成功")
                setTimeout(function () {
                    document.getElementById('light').style.display='none';
                    document.getElementById('fade').style.display='none'
                    window.location.href ="../../service-management?id=1"
                },2000)
            }
        })




    }
    function findListBySerId() {
        var opt = $("#myselect option:selected")
        window.location.href ="../../service-management?id="+opt.val()
    }
    function deleteGrade(btn) {
        var id = $(btn).parent().prev().prev().prev().prev().prev().html();
        $.post("/del_article?id="+id,"",function (res) {
            if (res === "删除成功"){
                Tips.showError("删除成功")
                setTimeout(function () {
                    var opt = $("#myselect option:selected")
                    window.location.href ="../../service-management?id="+opt.val()
                },2000)
            }
        })

    }
//添加模态框弹出
    function openDialog(){
        document.getElementById('light').style.display='block';
        document.getElementById('fade').style.display='block'
    }
    //关闭
    function closeDialog(){

        document.getElementById('light').style.display='none';
        document.getElementById('fade').style.display='none'
    }

//编辑模态框
    function openDialog1(btn){
        var id = $(btn).parent().prev().prev().prev().prev().prev().html();
        document.getElementById("upinp").value = id
        $.get("/get_article?id="+id,"",function (res) {
            document.getElementById("articleName1").value = res.articleName
            document.getElementById("articleContent1").innerHTML = res.articleContent
            document.getElementById("authorName1").value = res.authorName
        })
        document.getElementById('light1').style.display='block';
        document.getElementById('fade1').style.display='block'
    }
    //关闭
    function closeDialog1(){
        document.getElementById('light1').style.display='none';
        document.getElementById('fade1').style.display='none'
    }



//发布
    function openGrade(btn) {
        var id = $(btn).parent().prev().prev().prev().prev().prev().html();
        console.log(id)
        var state = $(btn).parent().prev().html();
        console.log(state)
        if (state === '未发布'){
            $.post("/use_article?id="+id+"&state=OPEN","",function (res) {
                if (res === "启用成功") {
                    Tips.showError("发布成功")
                    var id = document.getElementById("inpValue");

                    if (id) {
                        setTimeout(function () {
                            window.location.href = "../../service-management?id=" + id.value
                        }, 2000)
                    }else {
                        setTimeout(function () {
                            window.location.reload()
                        }, 2000)
                    }
                }
            })
        }else if (state === '已发布') {
            $.post("/use_article?id=" + id + "&state=CLOSE", "", function (res) {
                if (res === "关闭成功") {
                    Tips.showError("下架成功")
                    var id = document.getElementById("inpValue");
                    if (id) {
                        setTimeout(function () {
                            window.location.href = "../../service-management?id=" + id.value
                        }, 2000)
                    }else {
                        setTimeout(function () {
                            window.location.reload()
                        }, 2000)
                    }
                }
            })
        }
    }
    function update_article() {
        var id = document.getElementById("inpValue");
        var show_id = document.getElementById("upinp").value
        var articleName = document.getElementById("articleName1").value
        var articleContent = document.getElementById("articleContent1").value
        var authorName = document.getElementById("authorName1").value
        var updateArticleData ={} ;
        updateArticleData.id = show_id;
        updateArticleData.articleName = articleName;
        updateArticleData.articleContent = articleContent;
        updateArticleData.authorName = authorName;
        $.ajax({
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            url: "/upd_article",
            data: JSON.stringify(updateArticleData),
            dataType: 'json',
            success: function (res) {
                if (res === "更新成功") {
                    Tips.showError("更新成功")
                    setTimeout(function () {
                        document.getElementById('light1').style.display='none';
                        document.getElementById('fade1').style.display='none'
                    }, 2000)
                }
            }
        })

    }
</script>

</html>